.CustomItemForm
{
	label, input, textarea, label>span { display:block; box-sizing:border-box; width:100%; }
	.Incomplete { border-color:red; }
	textarea { height:40px; }
	.Title { margin:12px 0 6px; border-bottom:2px solid var(--line-separator, white); font-size:130%; text-align:center; }
	.Info { margin-top:2px; font-size:75%; font-style:italic; }

	.RenderDescription { margin:8px 0; border:2px solid var(--line-separator, white); padding:3px; }
	.HTMLHelp.HelpButton {
		--HBSize:14px; top:2px; margin-right:4px; font-style:normal;
		>* { width:255px; white-space:wrap; }
	}
	.HTMLInfo {
		font-size:56.25%; font-weight:900; line-height:1.4;
		b { color:var(--ItemContentsLink-FlagRecommended, plum); }
		s { float:right; text-decoration:none; }
		i { color:var(--ItemContentsLink-FlagStarted, teal); font-style:normal; }
		u { text-decoration:none; background-color:#333333; }
		.HTMLTab { padding-left:15px; }
	}

	$IconSize:56px;
	.IconInfo {
		display:flex;
		>div { min-width:0; flex:1 1 auto; }
		>.IconPreview { --IconSize:#{$IconSize}; width:$IconSize; height:$IconSize; margin-left:6px; flex:0 0 $IconSize; }
	}

	.Buttons {
		display:flex; justify-content:space-evenly; align-items:center;
		>* { width:auto; }
	}
}