button, input, select, textarea { color:inherit; font-family:inherit; }
canvas { width:100%; height:100%; touch-action:none; overscroll-behavior:none; } //Stops pinch-zoom/pan from being handled by the page

.PopupMessage {
	position:absolute; z-index:100000; display:flex; inset:0; justify-content:center; align-items:center; background-color:#333333C0;
	padding:clamp(0px, calc((100dvh - 150px)/2), 40px) clamp(0px, calc((100vw - 150px)/2), 40px);
	>div { display:flex; flex-direction:column; width:100%; height:100%; padding:10px; border-radius:20px; background-color:rgba(24, 24, 24, 0.8); box-shadow:0 10px 30px rgba(0, 0, 0, 0.45); }
	.CloseMessage { flex:0 0 auto; text-align:center; color:red; font-size:120%; }
	.MessageText { flex:1 1 auto; display:flex; justify-content:center; align-items:center; overflow:hidden; text-align:center; font-size:80px; color:#eee; }
}

#ItemTooltip {
	position:absolute; box-sizing:border-box; border:1px solid rgba(255, 255, 255, 0.25);
	background-color:rgba(64, 64, 64, 0.8); color:#eee; box-shadow:0 10px 30px rgba(0, 0, 0, 0.45);
	display:none; z-index:20000; white-space:nowrap;
	padding:3px;
	&.Active { display:block; }
}

.ItemContents {
	white-space:pre-wrap;
	>div { height:100%; } //This is a container needed for auto sizing

	.Important {
		text-decoration:none;
		background:linear-gradient(65deg,
			#ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #8b00ff,
			#ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #8b00ff,
			#ff0000
		);

		-webkit-background-clip:text; background-clip:text; color:transparent;
		background-size:200% 200%;

		--phase:0; //Is randomly set to 0–1
		animation:ImportantRainbowShift 7s linear infinite;
		animation-delay:calc(-3s * var(--phase));
	}
	@keyframes ImportantRainbowShift {
		0%   { background-position:0 50%; }
		100% { background-position:200% 50%; }
	}

	.Key { font-size:80%; }
	.Value { font-weight:bold; }
	.ItemIcon { --NewIconSize:18px; }
	img {
		display:block; width:100%; max-width:100%; max-height:75%; margin-top:5px; object-fit:contain;
		@at-root .WinRoot:not(.AutoSized) .ItemContents img { width:300px; height:200px; max-width:none; max-height:none; } //Set images to static size before autosize has completed
	}
}

.ItemIcon {
	position:relative; display:inline-block; overflow:hidden; left:-2px; top:3px; margin-top:-2px;
	width :var(--NewIconSize);
	height:var(--NewIconSize);
	&:before {
		content:''; position:absolute; display:block; left:0; top:0; background-repeat:no-repeat;
		width :var(--ItemIconWidth );
		height:var(--ItemIconHeight);

		background-position:
			calc(-1*var(--x) * (var(--ItemIconWidth ) + var(--ItemIconPadding)))
			calc(-1*var(--y) * (var(--ItemIconHeight) + var(--ItemIconPadding)));

		//Nasty hack to convert pixels to unitless numbers
		--NewIconSize_Num	:tan(atan2(var(--NewIconSize	), 1px));
		--ItemIconWidth_Num	:tan(atan2(var(--ItemIconWidth	), 1px));

		transform-origin:top left;
		--NewScale:calc(var(--NewIconSize_Num) / var(--ItemIconWidth_Num));
		transform:scale(var(--NewScale));
	}
}
#ItemTooltip .ItemIcon { position:relative; top:6px; --NewIconSize:22px; margin-top:-7px; }

.WinRoot.Detached {
	@keyframes DetachedBorderBlink	{ to { border-color :green; } }
	@keyframes DetachedOutlineBlink	{ to { outline-color:green; } }
	 			animation:DetachedBorderBlink	1s ease-in-out 4 alternate;
	&.Active {	animation:DetachedOutlineBlink	1s ease-in-out 4 alternate; }
}

.CategoryGroups {
	min-height:0; overflow:auto; column-width:220px; column-fill:auto; column-gap:10px; width:100%; flex:1 1 auto; font-size:14px; white-space:nowrap;
	button { background-color:transparent; border-width:0; font-size:inherit; }
	.Title {
		margin-bottom:2px; font-size:18px; color:#e6e6e6;
		&:hover { color:blue; }
	}
	.Group { break-inside:avoid; page-break-inside:avoid; margin-bottom:10px; }
	.Row {
		text-align:left; display:block; width:100%; position:relative; padding:2px 2px; margin-bottom:1px; color:#808080;
		&:hover { color:white; }
		&.Completed {
			color:lime;
			&:hover { color:rgb(160, 255, 0); }
		}
	}
	.Category {
		margin-left:4px;
		&.StateAll { font-weight:bold; }
		&.StateNone::before {
			$StrikeHeight:1px;
			position:absolute; left:0; top:calc(50% - $StrikeHeight / 2); width:100%; height:$StrikeHeight;
			content:''; background:white; pointer-events:none; z-index:2;
		}

		.ItemIcon { position:relative; top:4px; margin-top:-6px; --NewIconSize:20px; }
		.Name { margin-right:4px; }
	}
	.Counts { float:right; z-index:0; }
}

#CategoryGroupsWindow {
	display:flex; flex-direction:column; background-color:rgba(0, 0, 0, 0.52); user-select:none;
	button { cursor:pointer; }

	.CategoryGroupButtons {
		display:flex; flex-wrap:wrap; gap:6px; justify-content:space-evenly; align-items:center; flex:0 0 auto;
		>button {
			flex:0 1 auto; border-width:0; border-radius:6px; padding:3px 4px 4px 4px;
			white-space:nowrap; background-color:#0000A0; color:white;
			&:active { transform:translateY(1px); }
		}
	}
}

.OpenCategoriesButton {
	position:absolute; top:15px; left:15px; font-size:28px; color:#808080;
	&:hover { color:white; }
	&:before { content:'☰'; }
	&:active { transform:translateY(1px); }
}