.ConfigTable {
	/* 3-column table */
	display:grid; width:100%; grid-template-columns:minmax(0, max-content) minmax(150px, 1fr) min-content;
	align-items:center; gap:4px 8px;
	&>tr { display:contents; }
	&>tr>td { display:block; }

	/* Center column width calculations */
	.ConfigElCol>div { display:flex; }
	.ConfigElCol>div>* { flex:1 1 auto; min-width:0; }
	input, select, .ConfigElCol button { box-sizing:border-box; }
	.Color.Picker, .Number.Text { width:56px; flex:0 0 auto; }

	/* Section titles */
	.SectionTitle { grid-column:1 / -1; border:0 solid var(--line-separator, white); border-bottom-width:2px; padding-top:20px; font-size:25px; }
	tr:first-child .SectionTitle { padding-top:0; }

	/* Description popup */
	.TitleCol { position:relative; }
	.Description {
		display:none; position:absolute; top:10px; left:50px; max-width:400px; padding:5px; z-index:10;
		background:var(--tooltip-bg, rgba(64, 64, 64, 0.8)); color:var(--text-color, #eee);
	}
	.TitleCol:hover .Description { display:block; }

	/* Other */
	input, select, button { white-space:nowrap; }

	/* Display Sections and Advanced */
	.IsHidden { display:none !important; }
	.IsAdvanced { color:yellow; }
	&:not(.ShowAdvanced) .ItemRow.IsAdvanced { display:none; }
	&:not(.View_Shortcuts) .ItemRow:has(.ShortcutKey) { display:none; }
	&:not(.View_Configure) .ItemRow:not(:has(.ShortcutKey)) { display:none; }
}

.ConfigViewableToggles { display:flex; flex-wrap:wrap; justify-content:space-evenly; gap:8px; }