options -indexes

<FilesMatch "^(Config\.php|errors\.log)$">
	Require all denied
</FilesMatch>

RewriteEngine On
RewriteRule ^items\.json$ /Items.json [R=301,L,QSA]
RewriteRule ^categories\.json$ /Categories.json [R=301,L,QSA]
RewriteRule ^(Items|Categories|Misc|ItemFinder|SceneVectors|SceneRects)\.json$ CreateJsons.php?Build=$1 [QSA,L]