#WinID_Debug {
	table { width:100%; line-height:1.1; }
	th { width:1px; text-align:left; white-space:nowrap; }
	.SecTitle { margin:6px 0; border-bottom:2px solid var(--line-separator, white); padding-bottom:2px; font-size:130%; text-align:center; }
	td { padding-left:7px; white-space:pre; font-family:monospace; }
}